$clr-bg: hsl(0, 0%, 98%);
$clr-font-black: hsl(300, 1%, 19%);
$clr-font-secondary: hsl(259, 23%, 58%);

$clr-btn: hsl(0, 0%, 91%);
$shadow-clr-btn: hsl(0, 0%, 77%);
$shadow-clr-btn-hover: hsl(0, 0%, 40%);
$clr-btn-active: hsl(0, 0%, 100%);
